<header class='site-header row'>
  <div class='column'>
    <a class='site-title' href='/'>
      {{ site.title }}
    </a>
  </div>
  <div class='column'>
    <nav class='site-nav'>
      <svg class='menu-icon'>
        <use xlink:href='/assets/icons.svg#menuLines' />
      </svg>

      <div class='trigger'>
        {% assign sortedPages = site.pages | sort: 'navOrder' %}
        {% for page in sortedPages %}
          {% if page.title %}
            <a class='page-link' href='{{ page.url }}'>
              {{ page.title }}
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>
  </div>
</header>
