.site-footer {
  border-top: 1px solid $grey-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list {
  list-style: none;
  margin-left: 0;
  color: $grey;
  font-size: 15px;
  @extend %clearfix;
}

.site-footer .icon svg {
  fill: $grey;
}
