.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  padding: 4rem 0;
  margin-bottom: 2.4rem;
  background-color: $green;
  color: $white;

  h1 {
    font-family: 'PlaylistScript', cursive;
    font-size: 6rem;
    text-align: center;
    transform: rotateZ(-15deg);

    @include media-query($on-palm) {
      transform: none;
    }
  }
}
