.testimonials {
  figure {
    margin-bottom: 0;
  }

  .row {
    width: calc(100% - 6rem);
    padding: 1rem 3rem;
  }

  .row:nth-of-type(even) {
    flex-direction: row-reverse;
    background-color: $green;

    blockquote, figcaption {
      color: $white;
    }
  }

  .row:nth-of-type(odd) .column:first-of-type {
    margin-right: 10%;
  }

  .row:nth-of-type(even) .column:last-of-type {
    margin-right: 10%;
  }

  @include media-query($on-palm) {
    .row, .row:nth-of-type(odd) {
      padding: 3rem;
      margin-bottom: 0;
    }
  }
}
